.APPBar-bg {
    height: 10vmin;
    min-height: 80px;
}

.Bouton-SMALL {
    display: none;
    align-items: center;
    width: 40vmin;
    height: 15vmin;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.Bouton-FULL {
    display: flex;
    align-items: center;
    width: 10rem;
    height: inherit;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .Bouton-FULL {
      display: none;
    }
  
    .Bouton-SMALL  {
      display: flex;
    }
  }