.vertical-group-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top: 32px;
  }
  
  .custom-button {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 2px solid #00bcd4;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .custom-button:hover {
    transform: scale(1.03);
  }
  
  .custom-button-icon {
    min-width: 64px;
    min-height: 64px;
    background-color: #ffcc00;
    color: black;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 8px;
    flex-shrink: 0;
  }
  
  .custom-button-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }
  
  .custom-button-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  .custom-button-description {
    font-size: 14px;
    color: #ccc;
  }

  @media screen and (max-width: 600px) {
    .MuiButtonGroup-vertical {
      width: 100% !important;
    }
  
    .MuiButtonGroup-vertical .MuiButtonBase-root {
      font-size: 14px;
      padding: 12px;
    }
  }
  
  